*{padding: 0; margin: 0}
h1{
    color:black;  
}
body{
        background-color: #e6e6e6;;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
                    
    }

.CMap{
      margin-bottom: 100px;
      margin-left: 300px;
      
      border: 4px solid #00599d ;
      padding: 5px;
      background-color: white;
      display: block;
      width: 912px;
      height: 480px;
  }

 /* The sidebar menu */
 .sidenav {
  height: 95%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
}

/* The navigation menu links */
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  background-color: #00599d;
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #f8c11a;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}




/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

.FullMapB{

  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.FullMapB{
  border-radius: 8px;
}

.FullMapB {
  background-color: #ddd;
  color: black;
  border: 4px solid #00599d;
}

.FullMapB {
  transition-duration: 0.4s;
}

.FullMapB:hover {
  background-color: #84c2f1;
  color: white;
}

  .topnav {
          position: fixed;
          width: 100%;
          overflow: hidden;
          background-color: #818181;
          margin-left: 200px;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
          float: left;
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }

        /* Style the "active" element to highlight the current page */
        .topnav a.active {
          background-color: #e21a24;
          color: white;
        }


/* When the screen is less than 700 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  width: 22%;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #e21a24;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 600px){
  .overlay{
    width: 50%;
  }
  .popup{
    width: 50%;
  }
}


   /* When the screen is less than 1150 pixels wide and 600 pixels high, hide Map and picture, Also move table to the center of the page */
   @media screen and (max-width: 1150px) {
    .ScreenS {display: none;}
  }
  @media screen and (max-height: 600px) {
    .ScreenS {display: none;}
  }

  @media screen and (max-width: 1150px) {
    #myTable {margin-left: 70%;}
  }

      
.footer {
  position: fixed;
  margin-left: 200px;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #818181;
  color: white;
  text-align: center;
}
