body{
          background-image:url(./UpAzrieli.png);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          
    }

#myTable {
border-collapse: collapse; /* Collapse borders */
width: 25%; /* Full-width */
border: 5px solid #00599d; /* Add a blue border */
font-size: 15px; /* Increase font-size */
margin-left: 75px;
background-color: white;
}

#myTable th, #myTable td {
text-align: left; /* Left-align text */
padding: 12px; /* Add padding */
}

#myTable tr {
/* Add a bottom border to all table rows */
border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
/* Add a grey background color to the table header and on hover */
background-color: #f1f1f1;
}

.FullMapBR{
    margin-bottom: 100px;
    margin-left: 700px;
    
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
  .FullMapBR{
    border-radius: 8px;
  }
  
  .FullMapBR {
    background-color: #ddd;
    color: black;
    border: 4px solid #00599d;
  }
  
  .FullMapBR {
    transition-duration: 0.4s;
  }
  
  .FullMapBR:hover {
    background-color: #84c2f1;
    color: white;
  }
  